body {
  background: rgb(40, 161, 176);
  background: linear-gradient(180deg, rgba(40, 161, 176, 1) 0%, rgba(29, 185, 185, 1) 30%, rgba(110, 221, 222, 1) 40%, rgba(24, 208, 211, 1) 50%, rgba(110, 221, 222, 1) 60%, rgba(29, 185, 185, 1) 70%, rgba(40, 161, 176, 1) 100%);
  margin: 0;
  min-height: 100vh;
}

header,
footer,
.bg-purple {
  text-align: center;
  background: rgb(35, 34, 201);
  background: linear-gradient(0deg, #2322c9 0%, #8040d4 20%, #5d41a9 50%, #8040d4 80%, #2322c9 100%);
  color: white;
}

header,
.bg-purple {
  padding: 2px;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 1px;
  height: 40px;
  position: absolute;
}

.bg-green {
  background: rgb(33, 199, 134);
  background: linear-gradient(180deg, #21c7862b 0%, #83edc9 20%, #6ad76f 40%, #6ad76f 60%, #83edc9 80%, #21c786a1 100%);
}

.bg-green h2,
.bg-green p {
  color: white;
}

label,
.p-large p {
  font-size: 25px;
}

a i {
  float: left;
}

h1,
h2,
button {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: azure;
}

button {
  font-size: 30px;
  width: 90%;
  max-width: 500px;
  margin-bottom: 10px;
  animation: size 2s;
}

button:hover {
  rotate: 1.5deg;
  padding: 12px 12px;
}

a {
  text-decoration: none;
}

#content {
  padding: 0 200px;
}

#image {
  height: 370px;
  width: auto;
}

#editor {
  width: 90%;
  max-width: 500px;
}

.hidden {
  display: none;
}

@keyframes size {
  0% {
    width: 60%;
  }

  100% {
    width: 90%
  }
}

@media only screen and (max-width: 600px) {
  .w3-padding-16 {
    padding: 8px 8px;
  }

  #image {
    height: 300px;
    width: auto;
  }

  #content {
    padding: 0;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  button {
    font-size: 25px;
  }

  button:hover {
    padding: 9px 9px;
  }
}