body {background: cyan;  margin: 0;}
header {
  padding: 5px;
  text-align: center;
  background: blueviolet;
  color: white;
  font-size: 30px;
}
h1, button {font-family: Calibri, 'Trebuchet MS', sans-serif;color: azure;}
button {font-size: 30px;width: 700px;animation: size 2s;}
button:hover {
   rotate: 2deg;
   padding: 18px 18px;
}
a {text-decoration: none;}
#image {height: 400px;width: 400px;}

@keyframes size {
  0% {width: 0px}
  100% {width: 100%}
}

@media only screen and (max-width: 600px) {
  .w3-padding-16 {
    padding: 8px 8px;
  }
  #image {height: 300px;width: 300px;}
  h1 {font-size: 30px;}
  h3 {font-size: 20px;}
  button {font-size: 25px;width: 300px;margin-bottom: 10px;}
  button:hover {
   padding: 10px 10px;
}
}